<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavaBasicsIMCS/src/AdvanceAssignment2Day1/Assignment11ArrayOfObjects.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="AdvanceAssignment2Day1.Assignment11ArrayOfObjects"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaBasicsIMCS"/>
</launchConfiguration>
